/* The second font family to use -- font-family: 'Roboto', sans-serif; -- */

/* HEADER / MAIN / FOOTER */
header {
    background-color: #568259;
    text-align: center;
    padding: 10px;
}
.header-buttons{
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;
    text-decoration: none;
    color: #F1FFFA; 
}
main {
    background-color: #CCFCCB;
}
footer {
    background-color: #568259;
    padding: 0,1px;
}
/* BODY */
body {
    font-family: 'Exo 2', sans-serif;
    background-color: #CCFCCB;
    margin: 0;
}