header {
    background-color: #568259;
    text-align: center;
    padding: 10px;
}
.header-buttons{
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    padding: 10px;
    text-decoration: none;
    color: #F1FFFA; 
}
.header-buttons:hover{
    text-decoration: none;
    color: #464E47;
}
body {
    font-family: 'Exo 2', sans-serif;
    background-color: #CCFCCB;
    margin: auto;
}
.container {
    margin: 0px;
    padding: 0;
}
.profile-photo {
    height: 300px;
    border-radius: 100%;
    margin: 0px 35px 35px 35px;
    float: left;
}
.my-name {
    font-size: 80px;
    color: #464E47;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 35px;
}
.about-me {
    font-size: 25px;
    color: #464E47;
    margin-top: 20px;
    margin-right: 10%;
}
.skills {
    display: inline-block;    
}
.soft-hard-skills{
    font-size: 25px;
    color: #464E47;
    font-weight: bold;
}
.soft-skills {
    float: left;
    margin-right: 70px;
    font-size: 15px;
}
.hard-skills {
    float: right;
    margin-left: 35px;
    font-size: 15px;
}
li {
    list-style: none;
}
footer {
    background-color: #568259;
    text-align: center;
    font-size: 40px;
    /* position: fixed; */
    width:100%;
}
.media-link {
    text-decoration: none;
    color: #F1FFFA;
    margin-right: 30px;
}
.media-link:hover {
    text-decoration: none;
    color: #464E47;
}
.recommended-links {
    font-size: 25px;
    color: #464E47;
    font-weight: bold;
}
.link {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 15px;
}
.link:hover {
    text-decoration: none;
    color: #464E47;
}